/* About */

.about { 
    width: 100%;
  
    background: #ffffff;
  }

.about_dropdown {
  width: 1023px;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

@media only screen and (max-width: 768px) {
    .about {
        width: 375px;
    }
}