/* Home */

.home { 
    width: 1440px;
    height: 1024px;

    position: relative;
  
    background: #ffffff;
}
  
@media only screen and (max-width: 768px) {
    .home {
        width: 375px;
        height: 812px;
    }
}