/* Header */

.header {
   width: 100%;
   margin-top: 30px;
 
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.logo {
   width: 210.32px;
   height: 68px;
   margin-left: 0;
}

@media only screen and (max-width: 768px) {
   .header {
      width: 335px;

   }
}