/* Header */

.header {
   width: 1240px;
   height: 68px;
   
   position: absolute;
   left: 100px;
   top: 40px;
   right: 100px;
   bottom: 916px;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

@media only screen and (max-width: 768px) {
   .header {
      width: 335px;
      height: 47px;

      position: absolute;
      left: 20px;
      top: 20px;
      right: 20px;
      bottom: 745px;
   }
}