/* Gallery */

.gallery {
    width: 1240px;
    height: 875px;
    padding: 50px; 

    position: absolute;
    left: 100px;
    top: 437px;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    overflow: scroll;    
  
    background: #f7f7f7;
  
    border-radius: 25px;
  }

  @media only screen and (max-width: 768px) {
    .gallery {
      width: 335px;
      height: 805px;
      padding: 25px; 
  
      position: absolute;
      left: 21px;
      top: 216px;
    
      display: flex; 
    }
 }