/* Accommodation */

.accommodation { 
    width: 86%;
    height: auto;
  
    background: #ffffff;
}

.accommodation_carrousel {
    width: 100%;
    height: 415px;
    margin-top: 20px;
    
    border-radius: 25px;

    background-color: #ff6060;
}

.accommodation_main { 
    width: 100%;
    height: auto;

}

.accommodation_info {
    width: 100%;
    height: auto;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.accommodation_info_place {
    width: 80%; 
    margin: 0;      

    display: flex;
    flex-direction: column;
    justify-content: left;    

    background-color: #ffffff;
}

.accommodation_info_place_title {

    margin: 0;

    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;

    display: flex;
    align-items: flex-end;

    color: #FF6060;
}

.accommodation_info_place_location {
    margin: 0;
    
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    
    display: flex;
    align-items: flex-end;
    
    color: #FF6060;
}

.accommodation_info_place_tags {   
    width: 100%;
    margin-left: 0;
    margin-top: 20px; 
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}


.accommodation_info_host {
    width: 20%; 
    margin: 0;          
    
    display: flex;
    flex-direction: column;
    justify-content: right;

    background-color: #ffffff;
}

.accommodation_info_host_details {
    width: 100%;
    margin: 0;         
    
    display: flex;
    flex-direction: row;
    justify-content: right;

    background-color: #ffffff;
}

.accommodation_info_host_details_name {
    width: 93px;
    height: 52px;
    margin: 0;
    margin-top: 8px;
    

    display: flex;
    align-items: flex-end;
    text-align: right;
    
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;  
   
    
    color: #FF6060;
}

.accommodation_info_host_details_picture {
    width: 64px;
    height: 64px;
    margin: 0;
    margin-left: 10px;

    background: #C4C4C4;

    border-radius: 50px;
}

.accommodation_info_host_rating {
    width: 100%;
    margin: 0;   
    margin-top: 30px;      
}

.accommodation_dropdowns {
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 14px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accommodation_dropdown {
    width: 47%;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
}