@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-VariableFont_wght.ttf'), 
      url('fonts/Montserrat-Italic-VariableFont_wght.ttf');
}

/* Reset CSS */

* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  
}

body {
  max-width: 1440px;
  max-height: 1433px;

  background: #ffffff;

  font-family: 'Montserrat';
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}