
/* NotFound */

.not_found {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 150px;   
  
    background: #ffffff;
  }

  .error_code {    
    width: 597px;
    height: 263px;
  }
  
  .error_message {    
    width: 880px;
    height: 51px;
  }
  
  .return {
    width: 284px;
    height: 26px;
  }