
/* NotFound */

.not_found {
    width: 86%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;       
  
    background: #ffffff;
  }

  .error_code {    
    width: 597px;
    height: 263px;
    margin-top: 100px;
  }
  
  .error_message {    
    width: 872px;
    height: 51px;
    margin-top: 125px;
  }
  
  .return {
    width: 284px;
    height: 26px;
    margin-top: 182px;
    margin-bottom: 159px;
  }